<!DOCTYPE html>
<html>
<head>
    <title>AI Healthcare Agents</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<nav class="navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <h3 style="text-align: center"> AI-Agent–Integrated Framework for Optimizing Administrative Workflows Across Clinical and Health Insurance Systems</h3>

    </div>
</nav>

<div class="container mt-5">
    {% block content %}{% endblock %}
</div>

<script src="/static/js/script.js"></script>

</body>
</html>